# Các file cấu hình địa phương
appsettings.Development.json
appsettings.Local.json

# Các thư mục build
bin/


# Các file của hệ thống IDE (Visual Studio)
.vs/
.idea/
*.user
*.suo

# Các file liên quan đến chỉ mục của Visual Studio
.vs/Doctors_Web_Forum/FileContentIndex/
.vs/Doctors_Web_Forum/config/

# Các thư mục và file do các công cụ biên dịch tạo ra (như DLL, PDB)
**/bin/


# Các file DLL và PDB
*.dll
*.pdb
