@using Doctors_Web_Forum.DAL.Models
@model Login

<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Doctor Web Forum</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Register to start your admin session</p>

        <form asp-action="Create" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group has-feedback">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback">
                <input asp-for="Username" class="form-control" placeholder="Username" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
            <div class="text-center">
                <p>Đã có tài khoản? <a asp-controller="Account" asp-action="Index">Login</a></p>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}