@using Doctors_Web_Forum.DAL.Models
@model Login

<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Doctor Web Forum</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Login in to start your admin session</p>

        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="form-group has-feedback">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label>
                        <input asp-for="RememberMe" type="checkbox" /> Remember Me
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
            </div>
            <div class="text-center">
                <p>Chưa có tài khoản? <a asp-controller="Account" asp-action="Create">Sign Up</a></p>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}